<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><a href="/">назад</a></p>
    <h2>реактивы с заканчивающимся сроком годности</h2>
    <table>
        <tr><th>Название</th><th>Срок годности</th><th>Масса</th></tr>
        {% for react in min_srok %}
        <tr><td>{{ react.name }}</td><td>{{ react.srok }}</td><td>{{ react.mass }}</td></tr>
        {% endfor %}
    </table>
    <h2>заканчивающиеся реактивы</h2>
    <table>
        <tr><th>Название</th><th>Срок годности</th><th>Масса</th></tr>
        {% for react in min_mass %}
        <tr><td>{{ react.name }}</td><td>{{ react.srok }}</td><td>{{ react.mass }}</td></tr>
        {% endfor %}
    </table>
</body>
</html>